version: '3.8'

services:
  # --- SERWER ---
  bank-server:
    build: .
    container_name: bank-server
    command: ./server_app
    ports:
      - "8080:8080"
    volumes:
      - ./bank_data.txt:/app/bank_data.txt
    networks:
      - bank-network

  # --- MONITORING ---
  admin-panel:
    build: .
    container_name: admin-panel
    command: ./admin_app
    depends_on:
      - bank-server
    networks:
      - bank-network

  # --- BANKOMATY (1-10) ---
  atm-1: &atm-base  # Definiujemy wzorzec (kotwicę), żeby nie kopiować kodu
    build: .
    container_name: atm-1
    command: ./client_app
    depends_on:
      - bank-server
    environment:
      - CLIENT_ID=1
    networks:
      - bank-network

  atm-2:
    <<: *atm-base  # Używamy wzorca z atm-1
    container_name: atm-2
    environment:
      - CLIENT_ID=2

  atm-3:
    <<: *atm-base
    container_name: atm-3
    environment:
      - CLIENT_ID=3

  atm-4:
    <<: *atm-base
    container_name: atm-4
    environment:
      - CLIENT_ID=4
  
  atm-5:
    <<: *atm-base
    container_name: atm-5
    environment:
      - CLIENT_ID=5

  atm-6:
    <<: *atm-base
    container_name: atm-6
    environment:
      - CLIENT_ID=6

  atm-7:
    <<: *atm-base
    container_name: atm-7
    environment:
      - CLIENT_ID=7

  atm-8:
    <<: *atm-base
    container_name: atm-8
    environment:
      - CLIENT_ID=8

  atm-9:
    <<: *atm-base
    container_name: atm-9
    environment:
      - CLIENT_ID=9

  atm-10:
    <<: *atm-base
    container_name: atm-10
    environment:
      - CLIENT_ID=10

networks:
  bank-network:
    driver: bridge